#OS junk files
[Tt]humbs.db
*.DS_Store

#Project files
build/
HybridAlias-build/
build-*/

#Subversion files
.svn
*.swp

# Office Temp Files
~$*

# PDFs
dragon-book.pdf
lecture-ipl-dcc888.pdf
grosser-polly-thesis.pdf

# CLooG lib
cloog_install/
cloog_src/

# Executable test files
tests/bad-alias
tests/*.ll
tests/*.s
tests/speccpu2006/

llvm/grep
tests/ptrdist-1.1/Makefile-clean
tests/ptrdist-1.1/Makefile-opt
tests/rodinia_3.0/data/
