#OS junk files
[Tt]humbs.db
*.DS_Store

#Project files
build/

#Subversion files
.svn
*.swp

# Office Temp Files
~$*

# PDFs
dragon-book.pdf
lecture-ipl-dcc888.pdf
grosser-polly-thesis.pdf

# CLooG lib
cloog_install/
cloog_src/

# Executable test files
tests/bad-alias
