#OS junk files
[Tt]humbs.db
*.DS_Store

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

# PDFs
dragon-book.pdf
lecture-ipl-dcc888.pdf

# CLooG lib
cloog_install/
cloog_src/
