*.a
*.so
*.so.?*
*.dylib
*.cmake
!/cmake/*.cmake
*.ll
!/test/*.ll
*~
CMakeCache.txt
CMakeFiles/
#Makefile
bin/
build/
build-*/
cmake_install.cmake
lib/
tags
.ycm_extra_conf.pyc
.ninja_deps
.ninja_log
build.ninja
install_manifest.txt
rules.ninja
*.sublime-project
*.sublime-workspace
